target/
bin/
work-package-management/.classpath
work-package-management/.classpath
work-package-management/.classpath
*.classpath
work-package-management/.classpath
classes/
lib/
work-package-management/.classpath
work-package-management/.classpath