<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorldAction" class="edu.harvard.agile.HelloWorldAction"></bean>
    <bean id="indexAction" class="edu.harvard.agile.IndexAction"></bean>


<!--  DAOs bean definition -->    
    <bean id="workPackageDAO" class= "edu.harvard.agile.dao.WorkPackageDAO"/>
    <bean id="workRequestDAO" class= "edu.harvard.agile.dao.WorkRequestDAO"/>
    <bean id="applicationDAO" class= "edu.harvard.agile.dao.ApplicationDAO"/>
    <bean id="applicationContactsDAO" class= "edu.harvard.agile.dao.ApplicationContactsDAO"/>
    <bean id="testingProgramDAO" class= "edu.harvard.agile.dao.TestingProgramDAO"/>
    <bean id="dashboardInfo" class= "edu.harvard.agile.model.DashboardInfo"/>
    <bean id="activityLineDAO" class= "edu.harvard.agile.dao.ActivityLineDAO"/>
    <bean id="activityPhaseResourcesDAO" class= "edu.harvard.agile.dao.ActivityPhaseResourcesDAO"/>
    <bean id="assumptionsDAO" class= "edu.harvard.agile.dao.AssumptionsDAO"/>
    
    
    

<!--  Services bean definition -->

    <bean id="workPackageService" class= "edu.harvard.agile.service.WorkPackageService">
    	<property name="workPackageDAO" ref="workPackageDAO"/>
    	<property name="workRequestDAO" ref="workRequestDAO"/>
    </bean>
    
    
    <bean id="workRequestService" class= "edu.harvard.agile.service.WorkRequestService">
    	<property name="workRequestDAO" ref="workRequestDAO"/>
    	<property name="applicationService" ref="applicationService"/> 
    </bean>
    
    
    <bean id="testingProgramService" class= "edu.harvard.agile.service.TestingProgramService">
    	<property name="testingProgramDAO" ref="testingProgramDAO"/>
    </bean>
    
    <bean id="applicationService" class= "edu.harvard.agile.service.ApplicationService">
    	<property name="applicationDAO" ref="applicationDAO"/>
    	<property name="applicationContactsDAO" ref="applicationContactsDAO"/>
    </bean>

	<bean id="activityLineService" class= "edu.harvard.agile.service.ActivityLineService">
    	<property name="activityLineDAO" ref="activityLineDAO"/>
    </bean>
    
    
    <bean id="activityPhaseResourcesService" class= "edu.harvard.agile.service.ActivityPhaseResourcesService">
    	<property name="activityPhaseResourcesDAO" ref="activityPhaseResourcesDAO"/>
    </bean>
    
    
    <bean id="assumptionsService" class= "edu.harvard.agile.service.AssumptionsService">
    	<property name="assumptionsDAO" ref="assumptionsDAO"/>
    </bean>
    
    
    
    

    
<!--  Actions bean definition -->
    
    <bean id="workPackageListAction" class="edu.harvard.agile.action.WorkPackageListAction">
    	<property name="workPackageService" ref="workPackageService"/>
    </bean>
    
    
    <bean id="workRequestListAction" class="edu.harvard.agile.action.WorkRequestListAction">
    	<property name="workRequestService" ref="workRequestService"/>
    </bean>
    
    
    <bean id="workPackageDetailAction" class="edu.harvard.agile.action.WorkPackageDetailAction">
    	<property name="workPackageService" ref="workPackageService"/>
    	<property name="workRequestService" ref="workRequestService"/>
    	<property name="activityLineService" ref="activityLineService"/>
    	<property name="activityPhaseResourcesService" ref="activityPhaseResourcesService"/>
    	<property name="assumptionsService" ref="assumptionsService"/>
    	
    	
    </bean>
    
    
    
    
    
    
    <bean id="workPackageAction" class="edu.harvard.agile.action.WorkPackageAction">
    	<property name="workPackageService" ref="workPackageService"/>
    	<property name="applicationService" ref="applicationService"/>
    	<property name="testingProgramService" ref="testingProgramService"/>
    </bean>
    
      <bean id="dashboardAction" class="edu.harvard.agile.action.DashboardAction">
    	<property name="workPackageService" ref="workPackageService"/>
    	<property name="dashboardInfo" ref="dashboardInfo"/>
    	<property name="workRequestService" ref="workRequestService"/>
    	
    </bean>
</beans>